<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footericons"><img src="/images/student.png" alt="profile_icon" srcset="" height="60%" width="60%">Student</div>
        <div class="footericons"><img src="/images/teacher_male.png" alt="profile_icon" srcset="" height="60%" width="60%">Teacher</div>
        <div class="footericons"><img src="/images/notice.png" alt="profile_icon" srcset="" height="60%" width="60%">Notice</div>
        <div class="footericons"><img src="/images/documents.png" alt="profile_icon" srcset="" height="60%" width="60%">Documents</div>
        <div class="footericons"><img src="/images/admin.png" alt="profile_icon" srcset="" height="60%" width="60%">Admin</div>
    </footer>
</body>
</html>