<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div id="student" class="footericons"><img id="student" src="/images/student.png" alt="profile_icon" srcset="" height="60%" width="60%">Student</div>
        <div id="teacher" class="footericons"><img id="teacher" src="/images/teacher_male.png" alt="profile_icon" srcset="" height="60%" width="60%">Teacher</div>
        <a href="/notice" class="footericons">
            <div id="notice" ><img id="notice" src="/images/notice.png" alt="profile_icon" srcset="" height="60%" width="60%">Notice</div>
        </a>
        <div id="documents" class="footericons"><img id="documents" src="/images/documents.png" alt="profile_icon" srcset="" height="60%" width="60%">Documents</div>
        <div id="admin" class="footericons"><img id="admin" src="/images/admin.png" alt="profile_icon" srcset="" height="60%" width="60%">Admin</div>
    </footer>
</body>
<script src="/js/footer.js"></script>
</html>