<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="logo header-item">
            <img src="/schools/DBS/logo.png" alt="school_logo" srcset="" height="100%" width="100%">
        </div>
        <div class="search-bar header-item">
            <input type="search" name="" id="searchStudentInputBox" placeholder="Search Student">
        </div>
        <div class="profile header-item">
            <img src="/images/profile-icon.png" alt="profile_icon" srcset="" height="100%" width="100%">
        </div>
    </header>
    <div class="schoolid">
        <div class="school-name">Digital Bharat Solutions School Damoh MP</div>
        <div class="school-mono">Digital evolution in education</div>
    </div>
    <div class="quickOptions">
        
        
        <div class="quickOptionItemsContainer">
            <div class="quickOptionItem">Registration</div>
            <div class="quickOptionItem">Fees</div>
            <div class="quickOptionItem">Result</div>
            <div class="quickOptionItem">E-Books</div>
            <div class="quickOptionItem">E-Learning</div>
        </div>
        
    </div>
    <footer>
        <div class="footericons"><img src="/images/student.png" alt="profile_icon" srcset="" height="60%" width="60%">Student</div>
        <div class="footericons"><img src="/images/teacher_male.png" alt="profile_icon" srcset="" height="60%" width="60%">Teacher</div>
        <div class="footericons"><img src="/images/notice.png" alt="profile_icon" srcset="" height="60%" width="60%">Notice</div>
        <div class="footericons"><img src="/images/documents.png" alt="profile_icon" srcset="" height="60%" width="60%">Documents</div>
        <div class="footericons"><img src="/images/admin.png" alt="profile_icon" srcset="" height="60%" width="60%">Admin</div>
    </footer>
</body>
<script src="/js/home.js"></script>
</html>