<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title>
    <link rel="stylesheet" href="/css/teachers.css">
</head>
<body>
    <%- include('_header'); %>
    <%- include('_footer'); %>
    <div class="teachersList">
        <table border="1px solid black">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOJ</th>
                    <th>Mobile</th>
                    <th>View profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rohit Vishwakarma</td>
                    <td>11-Feb-2023</td>
                    <td>8819968904</td>
                    <td><a href="/">Profile</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="addTeacherForm">
        <div class="heading1">
            <label for="">Add Teacher</label>
        </div>
        <div class="inputsContainer">
            <div class="inputItems">
                <input type="text" name="" id="" placeholder="Name">
                <input type="text" name="" id="" placeholder="Education">
            </div>

            <div class="inputItems">
                <input type="text" name="" id="" placeholder="Salary">
                <input type="text" name="" id="" placeholder="Address">
            </div>

            <div class="inputItems">
                <input type="text" name="" id="" placeholder="Mobile">
                <input type="text" name="" id="" placeholder="Aadhar">
            </div>

            <div class="inputItems">
                <input type="text" name="" id="" placeholder="SSSM">
                <input type="text" name="" id="" placeholder="Account No">
            </div>

            <div class="inputItems">
                <input type="text" name="" id="" placeholder="Date Of Birth">
                <input type="text" name="" id="" placeholder="Date Of Joining">
            </div>

            <div class="buttonItems">
                <button class="submitButton">Add</button>
            </div>
        </div>
    </div>
</body>
</html>