body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #e7f7f8c2;
    width: 100%;
}

small{
    display: block;
    font-weight: bold;
    margin-bottom: 3%;
}

.studentInfo{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 96%;
    border-bottom: 2px dotted black;
    height: 23%;
}

.datarow{
    width: 100%;
    height: 33%;
    font-size: x-large;
    display: flex;
}

.studentInfoItems{
    width: 50%;
}

.displayToggler{
    height: 8%;
    display: flex;
    margin-top: 3%;
    border-radius: 1.3rem;
}


.togglerItem{
    width: 50%;
    border: 1px solid #0e7c6cab;
    text-align:center;
    padding-top: 0.7%;
    font-weight: bold;
    font-size: x-large;
}
#feesDetailsToggle{
    color: #f0f0f0;
    background-color: #0e7c6cab;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

#fessHistoryToggle{
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}
.SubmissionDetails{
    height: 50%;
}

.feesDetails, .feesHistory{
    height: 80%;
    border-left: 1px solid #0e7c6cab;
    border-right: 1px solid #0e7c6cab;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

th, td{
    text-align: left;
}
#feesHistory{
    display: none;
}

.payFeesButton{
    display: flex;
    justify-content: center;
}

#openFeeFormButton{
    background-color: #0e7c6cab;
    color: white;
    border: none;
    width: 25%;
    border-radius: 1.3rem;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 1%;
}

.feesPayPopup{
    position: fixed;
    top:30%;
    left:5%;
    width: 90%;
    height: 45%;
    background-color: aliceblue;
    -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey;
    box-shadow: 0 0 10px 4px rgb(117, 156, 137);
    display: none;
}

.closePopup{
    position: relative;
    right: -89%;
    top: 0;
    height: 10%;
    width: 10%;
}
.inputForm{
    height: 75%;
    width: 96%;
    padding: 2%;
}
.inputItems{
    margin-top: 5%;
    font-size: larger;
}

.inputItems input,select,textarea{
    font-size: large;
    margin-left: 5%;
    width: 50%;
    border: 0.2px solid black;
}

.inputItems select{
    margin-left: 6%;
}

.inputItems input{
    margin-left: 11%;
}

.inputButtons{
    display: flex;
    justify-content: space-around;
}

.cancelButton{
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 1.2rem;
}

.submitButton{
    background-color:#0e7c6cab;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 1.2rem;
}