footer{
    display: flex;
    height: 8%;
    width: 100%;
    margin: 0;
    border-top: 1px solid brown;
    box-shadow: 0 0 10px 4px grey;
    position: fixed;
    bottom: 0;
    
}

.footericons{
    border-collapse:collapse;
    width: 20%;
    padding: 4%;
    font-size: small;
    text-align: center;
}

.footericons:nth-child(2n){
    border-left: 1px solid brown;
    border-right: 1px solid brown;
}


.quickOptions{
    height: 74%;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    align-items: flex-start;
    margin-left: 3%;
    
}
.cardItem{
    padding: 4%;
    width: 40%;
    height: 30%;
    margin-top: 5%;
    text-align: center;
    font-size: large;
    -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey;
    box-shadow: 0 0 10px 4px rgb(117, 156, 137);
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
