body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #e7f7f8c2;
    width: 100%;    
}

table{
    width: 98%;
    margin-left: 1%;
    text-align: left;
    border-collapse: collapse;
}

td{
    text-align: center;
}
td,th{
    padding-top: 1%;
    padding-bottom: 1%;
}
.teachersList{
    height: 40%;
    border-bottom: 2px dotted #0e7c6cab;
}
.addTeacherForm{
    height: 35%;
    padding-top: 5%;
}

.addTeacherForm .heading1{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.inputsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.inputItems{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.inputItems input{
    font-size: larger;
    width: 45%;
    border: 0.5px solid black;
}
.buttonItems{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.buttonItems button{
    width: 20%;
    margin-left: 6%;
    margin-top: 5%;
    border: none;
    border-radius: .5rem;

}

.submitButton{
    background-color: green;
    color: #e7f7f8c2;
}